# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Spring MVC\Day16_Transaction_In_Spring\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
