# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Spring MVC\Day10_PointCut_Expression\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
